.NavTotal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 0px 50px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}
  
button i.fas {
    font-size: 50px; 
}

  
.dropdown-menu {
    position: absolute;
    right: 0;
    background: #000000;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    margin-top: 7px;
    padding-right: 30px;
}
  
.dropdown-menu a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}
  
button {
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: flex-end;
}

.exit {
    position: absolute;
    right: 0;
    background: #000000;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    margin-top: 30px;
    padding-right: 30px;
}

.fas fa-bars {
    color: white;
}

a {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}