<div class="NavTotal">
    <div>
      <h1 class="logo">goodtoknøw</h1>
    </div>
    <nav class="dropdown-button">
      <button class="modal-open-buttom" (click)="toggleOptions()">
        <i class="fas fa-bars"></i>
      </button>
      <div *ngIf="showOptions" class="dropdown-menu">
        <ng-container>

          <a routerLink="/admin-create-events" (click)="toggleOptions()" *ngIf="sessionService.logIn">

            Crear eventos <i class="fas fa-calendar-plus"></i>
          </a>
          <a routerLink="/calendar" (click)="toggleOptions()">
            Calendario <i class="fas fa-calendar-alt"></i>
          </a>
          <a class="modal-open-buttom" (click)="openInformationmodal()">
            Información <i class="fas fa-info-circle"></i>
          </a>
          <a routerLink="/notification" (click)="toggleOptions()">
            Notificaciones <i class="fas fa-bell"></i>
          </a>
        </ng-container>

        <a routerLink="/" (click)="sessionService.logOut()">

          <i class="fas fa-sign-out-alt"></i> Cerrar sesión 
        </a>
      </div>
    </nav>
  </div>
  