<div class="calendar-events">
  <div class="calendar-container">
    <full-calendar #fullcalendar
               [options]="calendarOptions"
               (dateClick)="handleDateClick($event)">
</full-calendar>
  </div>
  <div class="events">
    <div class="leftSide" *ngFor="let eventGroup of events">
        <h3>{{ eventGroup.startDate }}</h3>
    </div>
    <div class="rightSide">
      <div>
        <h2>{{ noEventsMessage }}</h2>
      </div>
      <div class="add-event">
        <app-admin-event-form/>
      </div>
      <div *ngFor="let eventGroup of events">
        <div *ngFor="let event of eventGroup.events">
          <div class="Event">
            <div class="EventRight">
              <h2 class="subjectTitle">{{ event.subject }}</h2>
              <div class="EventPart">
                <h3 class="title">Profesor:</h3>
                <h3 class="answer">{{ event.teacher }}</h3>
              </div>
              <div class="EventPart">
                <h3 class="title">Lugar:</h3>
                <h3 class="answer">{{ event.building }}, {{ event.classroom }}</h3>
              </div>
              <div class="EventPart">
                <h3 class="title">Horario:</h3>
                <h3 class="answer">{{ event.start }} - {{ event.finish }}</h3>
              </div>
              <div class="EventPart">
                <h3 class="title">Comentarios:</h3>
                <h3 class="answerComments">{{ event.comments }}</h3>
              </div>
              <div class="EventPart">
                <h3 class="title">Enlaces:</h3>
                <h3 class="answer">{{ event.link }}</h3>
              </div>
              <div class="buttons">
                <app-admin-edit-event-form [eventToEdit]="event" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>