.calendar-container {
  width: 45%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.calendar-events {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
}

.Event {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events {
  background-color: #FFFFFF;
  width: 45%;
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  border-radius: 10px;
}

.leftSide {
  border-right: solid black 1px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.rightSide {
  padding-left: 50px;
}

.title {
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: -10px;
}

.answer {
  font-weight: normal;
  font-size: 15px;
  border: solid black 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
}

.EventPart {
  display: flex;
  flex-direction: column;
}