.calendar-container {
  width: 45%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
  max-height: 90%;
}

.calendar-events {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 110px;
  max-height: 80%;
  min-height: 80%;
}

.EventRight {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  width: 420px;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  overflow: hidden; 
}

.events {
  background-color: #FFFFFF;
  width: 45%;
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  border-radius: 10px;
  min-height: 85vh;
  max-height: 85vh;
}

.leftSide {
  border-right: solid black 1px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.rightSide {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  background-color: #d3d3d3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.rightSide::-webkit-scrollbar {
  width: 8px;
}

.rightSide::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.rightSide::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.title {
  font-weight: bold;
  margin-right: 10px;
}

.answer {
  font-weight: normal;
  font-size: 15px;
  border: solid black 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20px;
  height: auto;
  overflow: hidden; 
}

.EventPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.subjectTitle {
  border-bottom: solid #000000 1px;
  padding-bottom: 2px;
  width: 30vw;
}

.StartDate {
  font-size: 20px;
}

.answerComments {
  font-weight: normal;
  font-size: 15px;
  border: solid black 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20px;
  
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.add-event {
  position: absolute;
  top: 80px;
  right: 50px;
}