<div class="bubble">
        <div class="image">
                <img *ngIf="type == 'notification' else reminderImage" src="../../../../../../../assets/icons/notification.png" />
                
                <ng-template #reminderImage>
                        <img src="../../../../../../../assets/icons/reminder.png" />

                      </ng-template>                  

        </div>
        
        <span class="title-notification"><strong>{{title}}</strong></span>
        <div class="description">
                <p *ngIf="subject"><strong>Asignatura:</strong><span> {{subject}}</span></p>
                <p *ngIf="teacher"><strong>Docente:</strong><span> {{teacher}}</span></p>
                <p *ngIf="place"><strong>Lugar:</strong><span> {{place}}</span></p>
                <p *ngIf="time"><strong>Hora:</strong><span> {{time}}</span></p>
                <p *ngIf="link"><strong>Enlace:</strong><span> {{link}}</span></p>
                <p *ngIf="comments"><strong>Observaciones:</strong><span> {{comments}}</span></p>

        </div>
          
              

   
</div>


