.bubble {
background: #D3D3D3;
position: relative;
border-radius: 10px;
padding: 10px 20px;
width: 100%;
margin-bottom: 20px;
display: inline-block;
max-width: 450px;
   
}

.bubble::before {
    content: '';
    background-color: #D3D3D3;
    display: block;
    position: absolute;
    left: 80px; 
    width: 60px;
    height: 60px;
    border-radius: 100px;
    bottom: -30px;
    z-index: -6;
   
}
.bubble::after {
    content: "" ;
    background-color: white;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    bottom: -35px;
    left: 95px;
    z-index: -5;

}

.image, .title-notification{
    position: relative;
    float: left;
}

.image{
    margin-right: 5px;
    width: 40px;
}
.title-notification{
    margin-bottom: 5px;
    width: 400px;
}




