<div class="information">
    <div class="left-section">
        <info-container title="Datos de contacto:" [data]="information.user"></info-container>
        <info-container title="Campus:" [data]="information.campusCentro"></info-container>
        <info-container [data]="information.campusNorte"></info-container>
    </div>
    <div class="right-section1">
        <info-list title="Docentes:" [data]="information.teachers"></info-list>
    </div>
    <div class="right-section2">
        <info-list title="Asignaturas:" [data]="information.subjects"></info-list>
    </div>
    
</div>





