.information {
    max-width: 550px;
    min-width: 300px;
    margin: auto;
    margin-top: 110px;
}
.right-section{
    flex: 1;
    top: 100px;
    width: 362.75px;
    height: 222.67px;
    margin: auto;
    margin-top: 30px;

}
.right-section1{
    width: 381px;
    height: 401px;
    top: 100px;
    margin: auto;
    margin-top: 30px;

}

