.header {
    background-color: black;
    display: flex;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 50px;
    z-index: 1000;
}

.title {
    color: #FFFFFF;
}

.home-container {
    background-image: url('/assets/images/camara-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: contrast(0.8) grayscale(100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.app-login {
    position: relative;
    z-index: 2;
}

.footer {
    position: relative;
    z-index: 2;
}
