
    <div>
        
        <div *ngFor="let notification of notificationsShow">
            
            <app-notification-item 
                [title]="notification.title"
                [subject]="notification.subject"
                [teacher]="notification.teacher"
                [place]="notification.place" 
                [time]="notification.time"
                [link]="notification.link"
                [comments]="notification.comments">
                
        
        </app-notification-item>

        </div>
        
    

    </div>
