
.data{
    padding: 5px;
    background-color: #D3D3D3;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.info-list-container{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;

}










