
.title{
    font-weight: bold;
}

.data{
    padding: 25px;
    background-color: #D3D3D3;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.info-list-container{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;
    margin-top:20px;  
    /* margin-right: 20px; */
}

@media (max-width: 768px) {

    .data {
        width: 100vw;
    }

    .info-list {
        width: 95vw;
    }

}

@media (max-width: 480px) {

    .data {
        width: 100vw;
    }

    .info-list {
        width: 95vw;
    }
  
}









