<button class="Event" (click)="openDialog()">Añadir evento</button>
<div *ngIf="dialogOpen" class=""dialog-overlay></div>
<div *ngIf="dialogOpen" class="dialog">
    <form (ngSubmit)="submitForm()" class="eventForm">
            <button class="close-button" (click)="closeDialog()">x</button>

            <div class="form">
                <label for="subject">Asignatura:</label>
                <input type="text" id="subject" [(ngModel)]="subject" name="subject" required>
            
                <label for="teacher">Docente:</label>
                <input type="text" id="teacher" [(ngModel)]="teacher" name="teacher" required>

                <div class="time">
                    <div>
                        <label for="startsAt">Hora inicio:</label>
                        <input type="time" id="startsAt" [(ngModel)]="startsAt" name="startsAt" required>
                    </div>
                    <div>
                        <label for="finishesAt">Hora fin:</label>
                        <input type="time" id="finishesAt" [(ngModel)]="finishesAt" name="finishesAt" required>
                    </div>
                </div>
            
                <label for="building">Edificio:</label>
                <input type="text" id="building" [(ngModel)]="building" name="building" required>
            
                <label for="classroom">Aula:</label>
                <input type="text" id="classroom" [(ngModel)]="classroom" name="classroom" required>
            
                <label for="link">Link:</label>
                <input type="url" id="link" [(ngModel)]="link" name="link">
            
                <label for="comments">Observaciones:</label>
                <textarea id="comments" [(ngModel)]="comments" name="comments"></textarea>
            </div>
            <div class="formFooter">
                <div class="notification">
                    <label for="notification">Notificación:</label>
                    <input type="checkbox" id="notification" [(ngModel)]="notification" name="notification">
                </div>
                <button class="finish" type="submit">Confirmar</button>
            </div>
    </form>
</div>
  